
body{
    background-color: aqua;
}
.btn-btn-primary{
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
}
.text-center{
    color: tomato;
}
#btn-btn-secondary{
    background-color: tomato;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
}
.btn-btn-success{
background-color: greenyellow;
color: white;
margin-left: 5px;
margin-right: 5px;
padding: 10px 20px;
border-radius: 40px;
border: none;       
}
.Universities
color: green;
